@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Slab&display=swap");

body {
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  backdrop-filter: blur(3px);
  /* background-repeat:no-repeat ; */
}

.hero-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.dashboard {
  border-radius: 1% 1.25% 1% 1%;
  border: 0.1vh solid #fff;
  background: linear-gradient(
    180deg,
    #232323 45.02%,
    rgba(37, 37, 37, 0.32) 99.99%,
    rgba(35, 35, 35, 0) 100%
  );
  min-height: auto;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vsmlogo {
  margin: 1vw;
  display: flex;
  /* padding: 0.25rem; */
}

.custom-hr {
  width: 80%;
  border: none;
  border-top: 2px solid #5e5e5e;
  transition: width 0.3s ease;
}

.dash-item {
  background-color: #171717;
  margin-top: 2vh;
  font-size: medium;
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 1.23rem;
  border-radius: 1.5rem;
  color: rgb(151, 151, 151);
  width: 80%;
  transition: 0.35s all;
}

.dash-item:hover {
  color: #050505;
  background-color: rgb(151, 151, 151);
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2vh;
  margin-left: 3vw;
  margin-bottom: 3vh;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 8vh;
  color: white;
  letter-spacing: 0.4vw;  
  /* text-shadow: 8px 8px 10px rgba(0, 255, 255, 0.4); */
}

.cardContainer {
  /* background-color: yellow; */
  margin-left: 2.5vw;
  display: flex;
  justify-content: space-around;
}

.mainData1,.mainData2,.mainData3
{
  font-size: 2.5vw;
  font-family: "poppins";
  color: antiquewhite;
}

.row1{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-title
{
  font-size: 2vw;
  color: whitesmoke;
  font-family: "Inter",sans-serif;
  margin-right: 2rem;
}

.element {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.2) 0%,
      rgba(48, 65, 81, 0.2) 100%
    ),
    #1e1e1e; 
  backdrop-filter: blur(10px);
  /* border: 2px solid white;
  border-radius: 10px; */
  width: 25vw;
  height: 100%;
  border-radius:2rem;
  padding: 2vw;
  margin-right: 2vw;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

@media (hover:hover) {
    .element:hover {
        background: linear-gradient(180deg, rgba(30, 30, 30, 0.20) 0%, rgba(48, 65, 81, 0.20) 100%), #17363c73;
    }
}

.rigthBottom
{
  display: flex;
  
}
table {
  /* margin-top:1000px ; */
  position: relative;
  background: #012B39;
  border-radius: 1.25rem;
  border-collapse: collapse;
  margin-top: 15vh;
  width: 100vw;
height: 10vh;
  overflow: scroll;
  
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}




/* 
.card2 {
  background-color: rgb(251, 134, 193);
  width: 33%;
  height: 100%;
  border-radius:2rem;
  padding: 2rem;
  margin-right:20rem ;
}

.card3 {
  background-color: rgb(114, 133, 21);
  width: 33%;
  height: 100%;
  border-radius:2rem;
  padding: 2rem;
  margin-right:20rem ;
} */
/* 
.cards {
  position: relative;
  top: 2em;
  left: 3rem;
  width: 30.185rem;
  height: 20.375rem;
  border-radius: 2.813rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
}

.card-main,
.card-back {
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  border-radius: 2.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.2) 0%,
      rgba(48, 65, 81, 0.2) 100%
    ),
    #1e1e1e;
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .card-main:hover {
    background: linear-gradient(
        180deg,
        rgba(30, 30, 30, 0.2) 0%,
        rgba(48, 65, 81, 0.2) 100%
      ),
      #17363c99;
  }
}

.card-main p {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 2rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: white;
}

.card-main img.right-vector {
  position: absolute;
  top: 12%;
  left: 80%;
  width: 2rem;
  height: 3rem;
  margin-left: 0.25rem;
}

.card-back {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  background: linear-gradient(
      307deg,
      #fff -61.89%,
      rgba(255, 255, 255, 0) 84.48%
    ),
    #1e1e1e;
} */
