/* Your existing CSS styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-page {
  background-image: url(assets/loginimage.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.dashboard {
  border-radius: 1vw 1.25vw 1vw 1vw;
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    #232323 45.02%,
    rgba(37, 37, 37, 0.32) 99.99%,
    rgba(35, 35, 35, 0) 100%
  );
  min-height: auto;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vsmlogo {
  margin: 1.25vh;
  display: flex;
}

.custom-hr {
  width: 80vw;
  border: none;
  border-top: 2px solid #5e5e5e;
  transition: width 0.3s ease;
}

.dash-item {
  background-color: #171717;
  margin-top: 2vh;
  font-size: 3vw;
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 1.23vw;
  border-radius: 1.5vw;
  color: rgb(151, 151, 151);
  width: 80vw;
  transition: 0.35s all;
}

/* Rest of your CSS with updated units */

.cardContainer {
  display: flex;
  justify-content: space-around;
}

.mainData1, .mainData2, .mainData3 {
  font-size: 3vw;
  font-family: "Poppins";
  color: antiquewhite;
}

.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5vw;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  margin-right: 2vw;
}

.element {
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.2) 0%,
      rgba(48, 65, 81, 0.2) 100%
    ),
    #1e1e1e;
  width: 25vw;
  height: 100%;
  border-radius: 2vw;
  padding: 2vw;
  margin-right: 5vw;
  box-shadow: 1vw -2vw 4vw rgba(188, 187, 187, 0.49);
}
