<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To VSM 2024</title>
    <link rel="shortcut icon" href="VSM Logo_ 2.png" type="image/x-icon">
    <link rel="stylesheet" href="/loginstyles.css" />
</head>

<body>
    <div id="algn">
        <div id='vsmlogo'>
            <img src="/VSM Logo_ 2.png">
        </div>
        <div id="container">
            <p class="head">Register</p>
            <form action="/auth/register" method="POST" class="input-container">
                <input type="name" placeholder="Enter your name" class="inpt" required name="name">
                <input type="email" placeholder="Enter email" class="inpt" required name="email">
                <input type="password" placeholder="Enter password" class="inpt" required name="password">
                <input type="password" placeholder="Re -Enter password" class="inpt" required name="repassword">
                {{#if message}}
                <label class="msglabel">{{message}}</label>
                {{/if }}
                <div class="rem-forgot">
                    <div class="rem">
                        <input type="checkbox" for="rem-tik">
                        <label for="rem-tik">Remember me</label>
                    </div>
                </div>
                <button value="submit" class="btn">Register</button>
            </form>
            <p class="footer">Already a User? <a href="/login.html" style="color:red ;">Log in to continue</a></p>
        </div>



    </div>

</body>

</html>